<tr class="off" onmouseover="this.className='on'; do_redirect=true" onmouseout="this.className='off'" 
onclick="if (do_redirect) document.location.href='{{ list.redirect }}'" name="name">
  <td align="right"><div class="name"><a class="noul" onclick="do_redirect=false"
         href="{{ list.redirect }}">{{ list.item.project.title }}</a>
     </div>
  </td>
  <td><div class="name">
      {{ list.item.project.student.name }}
      ({{ list.item.project.student.link_id }})
  </a></div></td>
  <td><div class="name">{{ list.item.project.scope.name }}</a></div></td>
  <td><div class="name">
      {{ list.item.project.mentor.name }}
      ({{ list.item.project.mentor.link_id }})
   </a></div></td>
  <td><div class="name">{{ list.item.grade_decision|capfirst }}</a></div></td>
  <td><div class="name">
      {% if list.item.mentor_record %}
        {% if list.item.mentor_record.grade %}
          Pass
        {% else %}
          Fail
        {% endif %}
      {% else %}
        Not Available
      {% endif %}
    </a></div>
  </td>
  <td><div class="name">
      {% if list.item.student_record %}
        Yes
      {% else %}
        Not Available
      {% endif %}
    </a></div>
  </td>
  <td><div class="name">{{ list.item.locked }}</a></div></td>
</tr>
