{% ifequal list.info.item_class "selected" %}
  <tr class="assignedslot" onmouseover="this.className='on'" onmouseout="this.className='assignedslot'" 
{% else %}
  <tr class="off" onmouseover="this.className='on'" onmouseout="this.className='off'" 
{% endifequal %}
onclick="document.location.href='{{ list.redirect }}'" name="name">
  <td><div class="rank">{{ list.info.rank }}</a></div></td>
  <td align="right"><div class="title"><a class="noul"
         href="{{ list.redirect }}">{{ list.item.title }}</a>
     </div>
  </td>
  <td><div class="name">{{ list.item.scope.name }}</a></div></td>
  <td><div class="name">
    {% if not list.item.mentor %}
      {% if list.item.possible_mentors %}
        {{ list.item.possible_mentors|length }} Pending
      {% else %}
        None
      {% endif %}
    {% else %}
      {{ list.item.mentor.name }}
    {% endif %}
  </a></div></td>
  <td><div class="score">{{ list.item.score }}</a></div></td>
  <td><div class="date">{{ list.item.last_modified_on|date:"jS F Y H:i" }}</a></div></td>
</tr>
