<!-- TODO: Site menu should be built from context -->
<div id="main-menu" class="grid_3">
  {% block site_menu %}
    <ul id="main-menu-list">
      {% if home_link %}
      <li id="menu-home"><a href="{{ home_link }}">Home</a></li>
      {% endif %}
      {% if login_link %}
      <li id="menu-login"><a href="{{ login_link }}">Login</a></li>
      {% endif %}
      {% if dashboard_link %}
      <li id="menu-dashboard"><a href="{{ dashboard_link }}">My Dashboard</a></li>
      {% endif %}
      {% if about_link %}
      <li id="menu-about"><a href="{{ about_link }}">About</a></li>
      {% endif %}
      {% if apply_link %}
      <li id="menu-apply"><a href="{{ apply_link }}">Apply</a></li>
      {% endif %}
      {% if projects_link %}
      <li id="menu-projects"><a href="{{ projects_link }}">Current &amp; Past Projects</a></li>
      {% endif %}
      {% if events_link %}
      <li id="menu-events"><a href="{{ events_link }}">Events &amp; Timeline</a></li>
      {% endif %}
      {% if connect_link %}
      <li id="menu-connect"><a href="{{ connect_link }}">Connect With Us</a></li>
      {% endif %}
      {% if help_link %}
      <li id="menu-help"><a href="{{ help_link }}">Help</a></li>
      {% endif %}
      {% if logout_link %}
      <li id="menu-login"><a href="{{ logout_link }}">Logout</a></li>
      {% endif %}
    </ul>
  {% endblock site_menu %}
</div>
<!-- .grid_3 -->
