<div class="pagination">

{% with list.export as export_link %}
{% if export_link %}
<a href="{{ export_link }}" class="button" target="_blank">csv export</a>
{% endif %}
{% endwith %}

  {{ list.pagination_form.as_table }}
 
  {% if list.newest %}
    <a class="novisit" href="{{ list.newest }}">&laquo; First</a>
  {% endif %}
  {% if list.prev %}
    <a class="novisit" href="{{ list.prev }}">&lsaquo; Previous</a>
  {% endif %}
  <b>{{ list.first }}{% if list.last %} - {{ list.last }}{% endif %}</b>
  {% if list.next %}<a class="novisit" href="{{ list.next }}">Next &rsaquo;</a>
  {% endif %}
</div>
