/*////////////////

  LessCSS

////////////////*/
.imagereplace {
  display: block;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}
/*////////////////

    Forms

////////////////*/
#form.form-register {
  /*register form*/

  background: #e1edf5;
  margin: 0 auto 39px auto;
  width: 570px;
}
#flash-message {
    /*save confirmation banner*/
    font-weight: bold;
    left: 0;
    margin-bottom: 10px;
    padding: 10px 5px 8px 36px;
    position: relative;
    width: auto;
    border-width: 2px;
    border-style: solid;
}
#flash-message p {
    margin-bottom: 0;
}
#flash-message.flash-error {
    /*save confirmation banner notifies error*/
    background: url(../../../../images/v2/gsoc/flash-error.png) no-repeat 10px 50% #CF3333;
    color: #FFF;
    border-color: #990000;
}
#flash-message.flash-success {
    /*save confirmation banner notifies success*/
    background: url(../../../../images/v2/gsoc/flash-success.png) no-repeat 10px 50% #C6F9C9;
    color: #4F7F51;
    border-color: #9BD39E;
}

#form.form-register .loggedin {
  /*logged in message*/

  background: #cee5f5;
  padding: 11px 0;
  text-align: center;
}
#form.form-register .loggedin p {
  margin: 0;
}
#form.form-register h2 {
  /*heading*/

  float: left;
  font-size: 27px;
  line-height: 1.8em;
  margin: 10px 0 0 23px;
}
#form.form-register .req {
  /*required text*/

  color: #d5620e;
  display: block;
  float: left;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  margin: 25px 0 0 10px;
}
#form.form-register fieldset {
  background: #cde5f5;
  margin: 0 23px 16px 23px;
  padding: 30px 0 11px 0;
}
#form.form-register fieldset.nolegend {
  padding: 11px 0;
}
#form.form-register fieldset .row {
  /*every row*/

  margin: 0 0 6px 11px;
  width: 497px;
}
#form.form-register fieldset .row.given_name {
  float: left;
  width: 215px;
}
#form.form-register fieldset .row.given_name .text {
  width: 215px;
}
#form.form-register fieldset .row.surname {
  float: left;
  width: 276px;
}
#form.form-register fieldset .row.surname .text {
  width: 276px;
}
#form.form-register fieldset .row.email {
  clear: both;
  float: left;
  width: 310px;
}
#form.form-register fieldset .row.email .text {
  width: 310px;
}
#form.form-register fieldset .row.phone {
  float: left;
  width: 180px;
}
#form.form-register fieldset .row.phone .text {
  width: 180px;
}
#form.form-register fieldset .row.bday {
  clear: both;
  float: left;
  width: 121px;
}
#form.form-register fieldset .row.bday .text {
  width: 121px;
}
#form.form-register fieldset .row.address2 {
  float: left;
  width: 313px;
}
#form.form-register fieldset .row.address2 .text {
  width: 313px;
}
#form.form-register fieldset .row.city {
  float: left;
  width: 175px;
}
#form.form-register fieldset .row.city .text {
  width: 175px;
}
#form.form-register fieldset .row.stateprovince {
  clear: both;
  float: left;
  width: 175px;
}
#form.form-register fieldset .row.stateprovince .text {
  width: 175px;
}
#form.form-register fieldset .row.zip {
  float: left;
  width: 138px;
}
#form.form-register fieldset .row.zip label {
  padding: 0;
}
#form.form-register fieldset .row.zip .text {
  width: 138px;
}
#form.form-register fieldset .row.country {
  clear: both;
  padding-top: 5px;
  width: 100%;
}
#form.form-register fieldset .row.country .selector select {
  width: 100%;
}
#form.form-register fieldset .row.country .selector span {
  padding-right: 40px;
  width: auto;
  /* desired width (w/ borders) - 33px = value */

}
#form.form-register fieldset .row.schoolname {
  float: left;
  width: 100%;
}
#form.form-register fieldset .row.schoolname .selector select {
  width: 100%;
}
#form.form-register fieldset .row.schoolname .selector span {
  padding-right: 40px;
  width: auto;
  /* desired width (w/ borders) - 33px = value */

}
#form.form-register fieldset .row.gradyear {
  clear: left;
  float: left;
  width: 175px;
}
#form.form-register fieldset .row.gradyear .selector span {
  width: 127px;
}
#form.form-register fieldset .row.schoollocation {
  float: left;
  width: 175px;
}
#form.form-register fieldset .row.schoollocation .selector span {
  width: 127px;
}
#form.form-register fieldset .row.schoolurl {
  clear: both;
  width: 254px;
}
#form.form-register fieldset .row.schoolurl .text {
  width: 254px;
}
#form.form-register .fieldset-basicinfo {
  /*first fieldset on the registration page*/

  clear: both;
}
#form.form-register .fieldset-referral {
  /*referral fieldset*/

  background: none;
  padding: 0;
}
#form.form-register .fieldset-referral .row.radio {
  margin: 0 0 6px 35px;
}
#form.form-register .fieldset-referral .row.radio label {
  color: #666;
  font-size: 15px;
}
#form.form-register .row.button-row {
  padding: 0 0 28px 28px;
}
#form.form-search {
  /*search form*/

  background: #e0edf5;
  padding: 5px 15px 10px 15px;
  margin: 0 0 13px 0;
}
#form.form-search h2 {
  /*heading*/

  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
#form.form-search .row {
  /*every row*/

  margin: 0 10px 0 0;
}
#form.form-search .row.search-field {
  /*search text field*/

  float: left;
  width: 300px;
}
#form.form-search .row.search-field .text {
  margin-top: 1px;
  width: 300px;
}
#form.form-search .row.search-filter {
  /*filter select field*/

  float: left;
  width: 138px;
}
#form.form-search .row.search-filter .selector span {
  font-size: 14px;
  width: 105px;
  /* desired width (w/ borders) - 33px = value */

}
#form.form-search .row.button-row {
  /*submit btn*/

  float: left;
  width: 77px;
}
#form.form-search .row.button-row input {
  height: 26px;
  line-height: 26px;
  margin-top: 2px;
  padding: 0;
  width: 77px;
}
#form.form-proposal {
  /*application/proposal form*/

  background: #e1edf5;
  width: 500px;
}
#form.form-proposal fieldset {
  margin: 0 auto;
  padding: 5px 0;
  width: 440px;
}
#form.form-proposal fieldset .row {
  /*every row*/

  margin: 10px 0;
}
#form.form-proposal fieldset .row .text {
  width: 440px;
}
#form.form-proposal fieldset .row.gsoc_proposal_abstract .textarea {
  height: 200px;
  width: 430px;
}
#form.form-proposal fieldset .row.gsoc_proposal_content .textarea {
  height: 500px;
  width: 430px;
}
#form.form-proposal fieldset .row.project-sponsor {
  width: 320px;
}
#form.form-proposal fieldset .row.project-sponsor .text {
  width: 320px;
}
#form.form-proposal fieldset .row.project-os {
  float: left;
  width: 191px;
}
#form.form-proposal fieldset .row.project-os .text {
  width: 191px;
}
#form.form-proposal fieldset .row.project-lang {
  float: right;
  width: 191px;
}
#form.form-proposal fieldset .row.project-lang .text {
  width: 191px;
}
#form.form-proposal fieldset .row.project-tags {
  clear: both;
}
#form.form-proposal fieldset #form-proposal-textfield-project-short_counter, #form.form-proposal fieldset #form-proposal-textfield-project-full_counter {
  color: #d5620e;
  display: block;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 0 4px;
}
#form.form-proposal .row.button-row {
  background: #f6f6f6;
  display: block;
  padding-bottom: 20px;
  width: 100%;
}
#form.form-proposal .row.button-row .submit {
  margin: 20px 0 0 20px;
}
#form.form-proposal .row.button-row .save {
  background: url(../../../../images/v2/gsoc/form-submit-bg-blue.png) 0 0 repeat;
  margin-left: 15px;
}
#form.form-project-comment {
  /*project comment form*/

  margin: 0 auto;
  width: 524px;
}
#form.form-project-comment fieldset {
  background: #cde5f5;
  margin: 0;
  padding: 30px 0 10px 0;
  width: auto;
}
#form.form-project-comment fieldset .row {
  /*every row*/

  display: block;
  margin: 0 0 6px 11px;
  width: 497px;
}
#form.form-project-comment textarea {
  height: 200px;
  width: 489px;
}
#form.form-project-comment .row.button-row {
  padding: 5px 0 0 5px;
}
#form.form-project-comment .row.button-row input {
  height: 30px;
  line-height: 30px;
}
#form.form-project-comment-reply {
  /*project comment reply form*/

  margin: 0;
  width: auto;
}
#form.form-project-comment-reply fieldset {
  width: auto;
}
#form.form-project-comment-reply textarea {
  height: 200px;
  width: 458px;
}
#form.form-project-comment-reply .row.project-comment-reply-full {
  display: block;
  width: 472px;
}
#form.form-project-comment-reply .row.button-row {
  text-align: right;
  padding: 5px 0 0 5px;
}
#form.form-project-comment-reply .row.button-row input {
  height: 30px;
  line-height: 30px;
}
#form {
  /*form defaults*/

  margin: 0 auto;
}
#form .note {
  /*for adding a note below a text field*/

  color: #d5620e;
  display: block;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 0 4px;
}
#form fieldset {
  position: relative;
  width: 524px;
}
#form fieldset legend {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
#form fieldset legend span {
  color: #799eb8;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: -22px;
  left: 10px;
}
#form fieldset .row label {
  /*labels*/

  color: #238bd2;
  display: block;
  font-size: 18px;
  line-height: 1.3em;
  padding: 0 0 0 5px;
}
#form fieldset .row .req {
  /*required text*/

  bottom: 1px;
  color: #d5620e;
  display: inline;
  float: none;
  font-size: 16px;
  font-weight: bold;
  height: 0;
  line-height: 1;
  margin: 0;
  position: relative;
  vertical-align: baseline;
}
#form fieldset .row .text, #form fieldset .row .textarea {
  /*text fields and textareas*/

  background: #fff;
  border: 1px solid #d2d2d2;
  box-shadow: inset 2px 2px 10px #e6e6e6;
  -moz-box-shadow: inset 2px 2px 10px #e6e6e6;
  -webkit-box-shadow: inset 2px 2px 10px #e6e6e6;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
}
#form fieldset .row .text {
  /*text fields*/

  height: 26px;
  text-indent: 5px;
  width: 497px;
}
#form fieldset .row .textarea {
  /*textareas*/

  padding: 5px;
}
#form fieldset .row select {
  /*select fields*/

  background: #fff;
  border: 0px;
}
#form fieldset .row .selector select {
  font-size: 13px;
  width: 100% !important;
}
#form fieldset .row .selector span {
  font-size: 16px;
}
#form fieldset .row .checker {
  /*checkbox*/

  margin-right: 0px;
}
#form fieldset .row .checker span {
  background-position: -62px -41px;
}
#form fieldset .row .checker span.checked {
  background-position: -86px -41px;
}
#form fieldset .row div.uploader {
  /*file upload field*/

  height: 30px;
  width: 440px;
}
#form fieldset .row div.uploader input {
  height: 30px;
  top: 0;
  left: 0;
  width: 100%;
}
#form fieldset .row div.uploader span.action {
  background: url(../../../../images/v2/gsoc/form-submit-bg.png) 0 0 repeat;
  color: #fff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0 0 0;
  padding: 2px 7px;
  text-transform: none;
}
#form fieldset .row div.uploader span.filename {
  background: #fff;
  border: 1px solid #d2d2d2;
  border-right: 0px;
  box-shadow: inset 2px 2px 10px #e6e6e6;
  -moz-box-shadow: inset 2px 2px 10px #e6e6e6;
  -webkit-box-shadow: inset 2px 2px 10px #e6e6e6;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  height: 26px;
  padding: 0 5px 0 0;
  text-indent: 5px;
  width: auto;
}
#form fieldset .row.error {
  /*error on submission*/

}
#form fieldset .row.error .error-message {
  color: #ff0000;
  display: block;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  margin: 2px 0 0 7px;
}
#form fieldset .row.error .text, #form fieldset .row.error .textarea {
  background: #fce6e6;
  border: 1px solid #ff0000;
  box-shadow: inset 2px 2px 10px #fccaca;
  -moz-box-shadow: inset 2px 2px 10px #fccaca;
  -webkit-box-shadow: inset 2px 2px 10px #fccaca;
}
#form .row.button-row {
  /*submit btn row*/

}
#form .row.button-row input {
  background: url(../../../../images/v2/gsoc/form-submit-bg.png) 0 0 repeat;
  border: 0;
  color: #fff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
}
#form .row.button-row input:hover {
  cursor: pointer;
}
